
html,body,.main{
    width: 100%;
    height: 100%;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.swiper-container{
    width: 100%;
    height: 100%;
}

.slide0{
    background: #ea8010 url("../img/bg1.png") no-repeat center bottom;
    background-size: 100% auto;
}
.slide0 img{
    position: absolute;
    opacity: 0;
}
.slide0 img:nth-child(1){
    width: .8rem;
    height: auto;
    left: 1.4rem;
    top: 2.8rem;
}
.slide0 img:nth-child(2){
    width: 1.6rem;
    height: auto;
    left: 2.53rem;
    top: 2.8rem;
}
.slide0 img:nth-child(3){
    width: .3rem;
    height: .8rem;
    display: block;
    background:linear-gradient(to right, #e62f2f 50%, #29d9f3 50%);
    background:-webkit-linear-gradient(to right, #e62f2f 50%, #29d9f3 50%);
    padding: 0;
    left: 0;
    top: 2.8rem;
}
.slide0 img:nth-child(4){
    width: 2.5rem;
    height: auto;
    right: 1.25rem;
    top: 7.2rem;
}
.slide0 img:nth-child(5){
    width: 1.2rem;
    height: 1.5rem;
    right: .46rem;
    top: 6.54rem;
}
.slide0 img:nth-child(6){
    width: .75rem;
    height: .75rem;
    display: block;
    padding: 0;
    left: 50%;
    right: 50%;
    margin-left: -.375rem;
    bottom: .8rem;
}
.slide1{
    background: #11cd6e url("../img/gerenjl.png") no-repeat 92% 92%;
    background-size: 1.5rem auto;
}
.slide2{
    background: #eb4f38 url("../img/gerenjl.png") no-repeat 90% 92%;
    background-size: 1.8rem auto;
}
.slide3{
    background: #56abe4 url("../img/gerenjl.png") no-repeat 90% 92%;
    background-size: 1.8rem auto;
}
.slide1 img{
    position: absolute;
    opacity: 0;
}
.slide1 img:nth-child(1){
    width: 5rem;
    height: auto;
    right: 0;
    bottom: .7rem;
}
.slide1 img:nth-child(2){
    width: 2.65rem;
    height: auto;
    left: 1rem;
    top: -.9rem;
}
.slide1 div:nth-child(3){
    position: absolute;
    width: 4.51rem;
    height: 3.13rem;
    left: 0.6rem;
    top: 2.2rem;
    line-height: .46rem;
    font-size: 0.266rem;
    text-indent: 1em;
    padding-top: 1em;
    background-color: rgba(255,255,255,.2);
    border: 1px solid #fff;
    border-radius: 3px;
    opacity: 0;
}
.slide1 div p {
    position: relative;
    width: 4.51rem;
    height: .46rem;
    line-height: .46rem;
    left: 0rem;
    top: 0rem;
}
.slide1 div p span {
    color: #fdec00;
}
.slide1 img:nth-child(4){
    width: 2.2rem;
    height: 3.4rem;
    left: .6rem;
    bottom: 1.2rem;
}
.slide1 img:nth-child(5) {
    width: .75rem;
    height: .75rem;
    display: block;
    padding: 0;
    left: 50%;
    right: 50%;
    margin-left: -.375rem;
    bottom: .8rem;
}
.slide2 img{
    position: absolute;
    opacity: 0;
}
.slide2 img:nth-child(1) {
    width: 2.65rem;
    height: auto;
    left: 1rem;
    top: -.9rem;
}
.slide2 img:nth-child(2){
    width: auto;
    height: 9.74rem;
    left: .95rem;
    top: .3rem;
}
.slide2 img:nth-child(3){
    width: 2rem;
    height: auto;
    left: 3rem;
    top: 4.2rem;
}
.slide2 img:nth-child(4){
    width: auto;
    height: 0.73rem;
    left: 2.3rem;
    top: 5rem;
}
.slide2 img:nth-child(5){
    width: auto;
    height: .49rem;
    left: 3rem;
    top: 6.4rem;
}
.slide2 img:nth-child(6){
    width: auto;
    height: .49rem;
    left: 2.3rem;
    top: 7.5rem;
}
.slide2 img:nth-child(7){
    width: .75rem;
    height: .75rem;
    display: block;
    padding: 0;
    left: 50%;
    right: 50%;
    margin-left: -.375rem;
    bottom: .8rem;
}



.slide3 img{
    position: absolute;
    opacity: 0;
}
.slide3 .sh {
    position: absolute;
    width: 100%;
    height: 1rem;
    left: 0;
    top: 0;
    border-bottom:solid 1px #ead51f;
    background: #095f6e;
    color: #fff;
    font-size: .35rem;
    text-indent: 1.3rem;
    line-height: 1rem;
}
.slide3 .sh i:nth-child(1){
    position: absolute;
    background: #0698ab url(../img/xiangmu.svg) no-repeat center;
    background-size: .4rem;
    border: solid 1px #fff;
    border-radius: 50%;
    width: .6rem;
    height: .6rem;
    left: .45rem;
    top: .2rem;
}
.slide3 .sh span:nth-child(2){
    color: #f54a4a;
}
.slide3 .sh span:nth-child(3){
    color: #ead51f;
}
.slide3 .lef {
    position: absolute;
    width: 25%;
    height: 84%;
    left: 0;
    top: 12%;
}
.slide3 .lef div:nth-child(1) {
    position: absolute;
    width: 3px;
    height: 1rem;
    background: linear-gradient(to right, #095f6e 50%, #29d8f7 50%);
    left: 50%;
    right: 50%;
    margin-left: -1.5px;
    top: .2rem;
}
.slide3 .lef div:nth-child(2){
    position: absolute;
    width: 55%;
    height: .35rem;
    line-height: .35rem;
    font-style: italic;
    text-align: center;
    text-indent: 1em;
    color: #71cfec;
    font-size: .35rem;
    text-shadow: #000;
    background: -webkit-repeating-linear-gradient(45deg,#56abe4 0px,#56abe4 3px,#a0931e 3px,#776c0b 6px,#095f6e 6px,#095f6e 9px);
    background: repeating-linear-gradient(45deg,#56abe4 0px,#56abe4 3px,#a0931e 3px,#776c0b 6px,#095f6e 6px,#095f6e 9px);
    left: 55%;
    right: 50%;
    margin-left: -45%;
    top: 1.4rem;
}
.slide3 .lef div:nth-child(2) span{
    position: absolute;
    width: .43rem;
    height: .6rem;
    display: block;
    left: .9rem;
    top: -.1rem;
    overflow: hidden;
}
.slide3 .lef div:nth-child(2) span i{
    position: absolute;
    width: .6rem;
    height: .6rem;
    display: block;
    left: -.3rem;
    top: 0;
    background: -webkit-repeating-linear-gradient(-11deg,#56abe4 0px,#56abe4 3px,#a0931e 3px,#776c0b 6px,#095f6e 6px,#095f6e 9px);
    background: repeating-linear-gradient(-11deg,#56abe4 0px,#56abe4 3px,#a0931e 3px,#776c0b 6px,#095f6e 6px,#095f6e 9px);
    transform: rotate(45deg);
    /*border-top: .4rem solid transparent;
    border-bottom: .4rem solid transparent;
    border-left: .4rem solid ;*/
}
.slide3 .lef div:nth-child(3) {
    position: absolute;
    width: 3px;
    height: 3rem;
    background: linear-gradient(to right, #095f6e 50%, #29d8f7 50%);
    left: 50%;
    right: 50%;
    margin-left: -1.5px;
    top: 2.05rem;
}
.slide3 .lef div:nth-child(4){
    position: absolute;
    width: 55%;
    height: .35rem;
    line-height: .35rem;
    font-style: italic;
    text-align: center;
    text-indent: 1em;
    color: #71cfec;
    font-size: .35rem;
    text-shadow: #000;
    background: -webkit-repeating-linear-gradient(45deg,#56abe4 0px,#56abe4 3px,#a0931e 3px,#776c0b 6px,#095f6e 6px,#095f6e 9px);
    background: repeating-linear-gradient(45deg,#56abe4 0px,#56abe4 3px,#a0931e 3px,#776c0b 6px,#095f6e 6px,#095f6e 9px);
    left: 55%;
    right: 50%;
    margin-left: -45%;
    top: 5.25rem;
}
.slide3 .lef div:nth-child(4) span{
    position: absolute;
    width: .43rem;
    height: .6rem;
    display: block;
    left: 1rem;
    top: -.1rem;
    overflow: hidden;
}
.slide3 .lef div:nth-child(4) span i{
    position: absolute;
    width: .6rem;
    height: .6rem;
    display: block;
    left: -.3rem;
    top: 0;
    background: -webkit-repeating-linear-gradient(-11deg,#56abe4 0px,#56abe4 3px,#a0931e 3px,#776c0b 6px,#095f6e 6px,#095f6e 9px);
    background: repeating-linear-gradient(-11deg,#56abe4 0px,#56abe4 3px,#a0931e 3px,#776c0b 6px,#095f6e 6px,#095f6e 9px);
    transform: rotate(45deg);
    /*border-top: .4rem solid transparent;
    border-bottom: .4rem solid transparent;
    border-left: .4rem solid ;*/
}
.slide3 .lef div:nth-child(5) {
    position: absolute;
    width: 3px;
    height: 3.2rem;
    background: linear-gradient(to right, #095f6e 50%, #29d8f7 50%);
    left: 50%;
    right: 50%;
    margin-left: -1.5px;
    top: 5.85rem;
}

.slide3 .righ {
    position: absolute;
    width: 75%;
    height: 88%;
    right: 0;
    top: 12%;}
.slide3 .righ p:nth-child(1){
    position: absolute;
    width: 0;
    font-size: .24rem;
    color: blue;
    height: .23rem;
    line-height: .23rem;
    left: 0;
    top: .55rem;
    display: block;
    overflow: hidden;
}
.slide3 .righ p:nth-child(2){
    position: absolute;
    width: 0;
    height: .82rem;
    font-size: .26rem;
    color: #111163;
    line-height: .45rem;
    left: 0;
    top: .92rem;
    display: block;
    overflow: hidden;
}
.slide3 .righ p:nth-child(3){
    position: absolute;
    width: 95%;
    height: auto;
    line-height: .4rem;
    left: 0;
    top: 1.6rem;
    font-size: 13px;
    color: #222;
}

.slide3 .righ p:nth-child(4){
    position: absolute;
    width: 95%;
    height: auto;
    font-size: .24rem;
    color: #111163;
    line-height: .45rem;
    left: 0;
    top: 4.5rem;
    display: block;
    overflow: hidden;
}

.slide3 .righ p:nth-child(5){
    position: absolute;
    width: 95%;
    height: .45rem;
    font-size: .26rem;
    color: #111163;
    line-height: .45rem;
    left: 0;
    top: 5rem;
    display: block;
    overflow: hidden;
}
.slide3 .righ p:nth-child(6){
    position: absolute;
    width: 95%;
    height: auto;
    line-height: .4rem;
    left: 0;
    top: 5.7rem;
    font-size: 13px;
    color: #222;
}
.slide3 img:nth-child(4){
    width: .75rem;
    height: .75rem;
    display: block;
    padding: 0;
    left: 50%;
    right: 50%;
    margin-left: -.375rem;
    bottom: .8rem;
}


.slide4{
    background: #33475f url("../img/gerenjl.png") no-repeat 90% 92%;
    background-size: 1.5rem auto;
}
.slide4 img{
    opacity: 0;
}
.slide4 p:nth-child(1){
    position: absolute;
    width: 2.6rem;
    height: 1rem;
    left: .2rem;
    text-indent: .6rem;
    top: .1rem;
    line-height: 1rem;
    font-size: .25rem;
    color: #fff;
}
.slide4 p:nth-child(1) i{
    position: absolute;
    width: .6rem;
    height: .6rem;
    left: 0;
    top: .2rem;
    background: url("../img/svg/zwpingj.svg") no-repeat center;
    background-size: .6rem;
}
.slide4 img:nth-child(2){
    position: absolute;
    width: 3.5rem;
    height: 2rem;
    right: .2rem;
    top: 1.8rem;
    background: red;
    transform: rotate(4deg);
}
.slide4 img:nth-child(3){
    position: absolute;
    width: 3rem;
    height: 1.7rem;
    right: 2.2rem;
    top: 2.8rem;
    border: 1px solid #fff;
    background: green;
    transform: rotate(-15deg);
}
.slide4 p:nth-child(4){
    position: absolute;
    width: auto;
    height: .5rem;
    left: .2rem;
    top: 5.6rem;
    line-height: 0.45rem;
    font-size: .4rem;
    color: #fff;
    border-bottom: solid 1px #fff;
}
.slide4 p:nth-child(5){
    position: absolute;
    width: 80%;
    height: auto;
    left: .2rem;
    top: 6.4rem;
    line-height: .35rem;
    font-size: .29rem;
    color: #fff;
    /* background: red; */
}
.slide4 p:nth-child(6){
    position: absolute;
    width: 95%;
    height: .3rem;
    left: .2rem;
    top: 6.8rem;
    line-height: .3rem;
    font-size: 0.22rem;
    color: yellow;
}
.slide4 p:nth-child(7){
    position: absolute;
    width: 93%;
    height: auto;
    left: .2rem;
    top: 7.4rem;
    line-height: .4rem;
    font-size: 13px;
    color: #fff;
    text-align:Justify;
    text-justify:inter-ideograph;
    text-justify:auto;
}
.slide4 img:nth-child(8){
    position: absolute;
    width: .75rem;
    height: .75rem;
    display: block;
    padding: 0;
    left: 50%;
    right: 50%;
    margin-left: -.375rem;
    bottom: .8rem;
}
.slide5{
    background:url("../img/gerenjl.png") no-repeat 90% 92%;
    background-size: 1.8rem auto;
}
.slide5 img{
    position: absolute;
    opacity: 0;
}

.slide5 img:nth-child(1){
    width: 1.57rem;
    height: 1.57rem;
    top: .6rem;
    left: 1.4rem;
    display: block;
    border-radius: 50%;
}
.slide5 img:nth-child(2){
    width: 1.57rem;
    height: 1.57rem;
    display: block;
    top: .6rem;
    left: 3.6rem;
    border-radius: 50%;
}
.slide5 p:nth-child(4){
    position: absolute;
    width: 3.6rem;
    height: 1rem;
    right: 0rem;
    text-indent: .2rem;
    bottom: .2rem;
    line-height: 1rem;
    font-size: .36rem;
    color: #f9ff00;
}
.slide5 img:nth-child(5){
    position: absolute;
    width: .75rem;
    height: .75rem;
    display: block;
    padding: 0;
    left: 50%;
    right: 50%;
    margin-left: -.375rem;
    bottom: .8rem;
}
.slide6{
    background:#1b2026 url("../img/gerenjl.png") no-repeat 90% 92%;
    background-size: 1.8rem auto;
}
.slide6 img{
    position: absolute;
    opacity: 0;
}
.slide6 img:nth-child(1){
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}
.slide6 img:nth-child(2){
    width: .5rem;
    height: auto;
    display: block;
    top: 5.2rem;
    left: 2.2rem;
}
.slide6 p:nth-child(3){
    position: absolute;
    width: auto;
    line-height: 1.2rem;
    font-size: 17px;
    color: #fff;
    top: 4.8rem;
    left: 3rem;
}
.slide6 img:nth-child(4){
    position: absolute;
    width: .75rem;
    height: .75rem;
    display: block;
    padding: 0;
    left: 50%;
    right: 50%;
    margin-left: -.375rem;
    bottom: .8rem;
}
#page1 img{
    opacity: 1;
}
#page1 img:nth-child(1){
    -webkit-animation:bounceInLeft 1s 0.3s both;
    animation:bounceInLeft 1s 0.3s both;
}
#page1 img:nth-child(2){
    -webkit-animation:bounceInRight 1s 0s both;
    animation:bounceInRight 1s 0s both;
}
#page1 img:nth-child(3){
    -webkit-animation:bounceInDown 1s 0.6s both;
    animation:bounceInDown 1s 0.6s both;
}
#page1 img:nth-child(4){
    -webkit-animation:bounceInUp 1s 0.9s both;
    animation:bounceInUp 1s 0.9s both;
}
#page1 img:nth-child(5){
    -webkit-animation:bounceInUp 1s 0.9s both;
    animation:bounceInUp 1s 0.9s both;
}
#page1 img:nth-child(6){
    -webkit-animation:UptMove 1s 0.6s linear infinite both;
    animation:UptMove 1s 0.6s linear infinite both;
}
@-webkit-keyframes UptMove {
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(7px);
    }
    50%{
        transform: translateY(14px);
    }
    75%{
        transform: translateY(7px);
    }
    100%{
        transform: translateY(0%);
    }
}
#page2 img{
    opacity: 1;
}
#page2 img:nth-child(1){
    -webkit-transform-origin: right;
    transform-origin: right;
    -webkit-animation:zoomIn 1s 0s both;
    animation:zoomIn 1s 0s both;
}
#page2 img:nth-child(2){
    -webkit-animation:bounceInDown 1s 0.3s both;
    animation:bounceInDown 1s 0.3s both;
}
#page2 div:nth-child(3){
    opacity: 1;
    filter: alpha(opacity=1);
    -webkit-animation:zoomIn 1s 0.6s both;
    animation:zoomIn 1s 0.6s both;
}
#page2 div p:nth-child(1) {
    -webkit-animation:bounceInLeft 1s 0.8s both;
    animation:bounceInLeft 1s 0.8s both;
}
#page2 div p:nth-child(2) {
    -webkit-animation:bounceInLeft 1s 1.0s both;
    animation:bounceInLeft 1s 1.0s both;
}
#page2 div p:nth-child(3) {
    -webkit-animation:bounceInLeft 1s 1.2s both;
    animation:bounceInLeft 1s 1.2s both;
}
#page2 div p:nth-child(4) {
    -webkit-animation:bounceInLeft 1s 1.4s both;
    animation:bounceInLeft 1s 1.4s both;
}
#page2 div p:nth-child(5) {
    -webkit-animation:bounceInLeft 1s 1.6s both;
    animation:bounceInLeft 1s 1.6s both;
}
#page2 div p:nth-child(6) {
    -webkit-animation:bounceInLeft 1s 1.8s both;
    animation:bounceInLeft 1s 1.8s both;
}
#page2 img:nth-child(4){
    -webkit-animation:bounceInRight 1s 1.9s both;
    animation:bounceInRight 1s 1.9s both;
}
#page2 img:nth-child(5){
    -webkit-animation:UptMove 1s 0.3s linear infinite both;
    animation:UptMove 1s 0.3s linear infinite both;
}
@-webkit-keyframes UptMove {
    0%{
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    25%{
        -webkit-transform: translateY(7px);
        transform: translateY(7px);
    }
    50%{
        -webkit-transform: translateY(14px);
        transform: translateY(14px);
    }
    75%{
        -webkit-transform: translateY(7px);
        transform: translateY(7px);
    }
    100%{
        -webkit-transform: translateY(0);
        transform: translateY(0%);
    }
}
#page3 img{
    opacity: 1;
}
#page3 img:nth-child(1){
    -webkit-animation:bounceInDown 1s 0s both;
    animation:bounceInDown 1s 0s both;
}
#page3 img:nth-child(2){
    -webkit-animation:bounceInLeft 1s 0.3s both;
    animation:bounceInLeft 1s 0.3s both;
}
#page3 img:nth-child(3){
    -webkit-animation:bounceInRight 1s 0.6s both;
    animation:bounceInRight 1s 0.6s both;
}
#page3 img:nth-child(4){
    -webkit-animation:bounceInUp 1s 0.9s both;
    animation:bounceInUp 1s 0.9s both;
}
#page3 img:nth-child(5){
    -webkit-animation:bounceInUp 1s 1.2s both;
    animation:bounceInUp 1s 1.2s both;
}
#page3 img:nth-child(6){
    -webkit-animation:bounceInUp 1s 1.4s both;
    animation:bounceInUp 1s 1.4s both;
}
#page3 img:nth-child(7){
    -webkit-animation:UptMove 1s 1.6s linear infinite both;
    animation:UptMove 1s 1.6s linear infinite both;
}
@-webkit-keyframes UptMove {
    0%{
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    25%{
        -webkit-transform: translateY(7px);
        transform: translateY(7px);
    }
    50%{
        -webkit-transform: translateY(14px);
        transform: translateY(14px);
    }
    75%{
        -webkit-transform: translateY(7px);
        transform: translateY(7px);
    }
    100%{
        -webkit-transform:  translateY(0%);
        transform: translateY(0%);
    }
}


#page4 img{
    opacity: 1;
}
#page4 .sh{
    -webkit-animation:bounceInDown 1s 0s both;
    animation:bounceInDown 1s 0s both;
}
#page4 .sh i:nth-child(1){
    -webkit-animation:bounceIn .5s .3s both;
    animation:bounceIn .5s .3s both;
}
#page4 .lef {
    -webkit-animation:bounceInLeft 1s 0.6s both;
    animation:bounceInLeft 1s 0.6s both;
}
#page4 .lef div:nth-child(1) {
    -webkit-animation:bounceInDown 1s .9s both;
    animation:bounceInDown 1s 0.9s both;
}

#page4 .lef div:nth-child(2){
    -webkit-animation:bounceInDown 1s 1.6s both;
    animation:bounceInDown 1s 1.6s both;
}
#page4 .lef div:nth-child(3){
    -webkit-animation:bounceInDown 1.5s 1.9s both;
    animation:bounceInDown 1.5s 1.9s both;
}

#page4 .lef div:nth-child(4){
    -webkit-animation:bounceInDown 1s 2.5s both;
    animation:bounceInDown 1s 2.5s both;
}
#page4 .lef div:nth-child(5) {
    -webkit-animation:bounceInDown 1.6s 2.8s both;
    animation:bounceInDown 1.6s 2.8s both;
}

#page4 .righ p:nth-child(1){
    -webkit-animation:wMove1 1.3s 4s both;
    animation:wMove1 1.3s 4s both;
}
@-webkit-keyframes wMove1 {
    0%{
        width: 0;
    }
    100%{
        width: 95%;
    }
}
#page4 .righ p:nth-child(2){
    -webkit-animation:wMove2 2s 4.3s both;
    animation:wMove2 2s 4.3s both;
}
@-webkit-keyframes wMove2 {
    0%{
        width: 0;
    }
    100%{
        width: 95%;
    }
}
#page4 .righ p:nth-child(3){
    -webkit-animation:bounceIn 2s 5s both;
    animation:bounceIn 2s 5s both;
}

#page4 .righ p:nth-child(4){
    -webkit-animation:wMove1 1.3s 5.7s both;
    animation:wMove1 1.3s 5.7s both;
}
@-webkit-keyframes wMove1 {
    0%{
        width: 0;
    }
    100%{
        width: 95%;
    }
}
#page4 .righ p:nth-child(5){
    -webkit-animation:wMove2 2s 6.5s both;
    animation:wMove2 2s 6.5s both;
}
@-webkit-keyframes wMove2 {
    0%{
        width: 0;
    }
    100%{
        width: 95%;
    }
}
#page4 .righ p:nth-child(6){
    -webkit-animation:bounceIn 2s 7.3s both;
    animation:bounceIn 2s 7.3s both;
}

#page4 img:nth-child(4){
    -webkit-animation:UptMove 1s .3s linear infinite both;
    animation:UptMove 1s .3s linear infinite both;
}
@-webkit-keyframes UptMove {
    0%{
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    25%{
        -webkit-transform: translateY(7px);
        transform: translateY(7px);
    }
    50%{
        -webkit-transform: translateY(14px);
        transform: translateY(14px);
    }
    75%{
        -webkit-transform: translateY(7px);
        transform: translateY(7px);
    }
    100%{
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}


#page5 img{
    opacity: 1;
}
#page5 p:nth-child(1){
    -webkit-animation:bounceInLeft 1s 0s both;
    animation:bounceInLeft 1s 0s both;
}

#page5 img:nth-child(2){
    -webkit-animation: rightMoved 1s 0.5s both;
    -moz-animation: rightMoved 1s 0.5s both;
    -ms-transform: rightMoved 1s 0.5s both;
    -o-animation: rightMoved 1s 0.5s both;
    animation: rightMoved 1s 0.5s both;
}
@keyframes rightMoved {
    0%{
        -webkit-transform: skewX(50px) translate(8rem);
        -moz-transform: skewX(50px) translate(8rem);
        -ms-transform: skewX(50px) translate(8rem);
        -o-transform: skewX(50px) translate(8rem);
        transform: skewX(50px) translate(8rem);
    }
    50%{
        -webkit-transform: skewX(30deg) translate(0rem) rotate(15deg) ;
        -moz-transform: skewX(30deg) translate(0rem) rotate(15deg) ;
        -ms-transform: skewX(30deg) translate(0rem) rotate(15deg) ;
        -o-transform: skewX(30deg) translate(0rem) rotate(15deg) ;
        transform: skewX(30deg) translate(0rem) rotate(15deg) ;
    }
    100%{
        -webkit-transform: skewX(0deg) translate(0rem) rotate(5deg) ;
        -moz-transform: skewX(0deg) translate(0rem) rotate(5deg) ;
        -ms-transform: skewX(0deg) translate(0rem) rotate(5deg) ;
        -o-transform: skewX(0deg) translate(0rem) rotate(5deg) ;
        transform: skewX(0deg) translate(0rem) rotate(5deg) ;
    }
}
#page5 img:nth-child(3){
    -webkit-animation:rightMoves 1s 1.5s both;
    -moz-animation:rightMoves 1s 1.5s both;
    -o-animation:rightMoves 1s 1.5s both;
    animation:rightMoves 1s 1.5s both;
}
@keyframes rightMoves {
    0%{
        -webkit-transform: skewX(50deg) translate(8rem) ;
        -moz-transform: skewX(50deg) translate(8rem) ;
        -ms-transform: skewX(50deg) translate(8rem) ;
        -o-transform: skewX(50deg) translate(8rem) ;
        transform: skewX(50deg) translate(8rem) ;
    }
    50%{
        -webkit-transform: skewX(30deg) translate(0rem) rotate(-25deg) ;
        -moz-transform: skewX(30deg) translate(0rem) rotate(-25deg) ;
        -ms-transform: skewX(30deg) translate(0rem) rotate(-25deg) ;
        -o-transform: skewX(30deg) translate(0rem) rotate(-25deg) ;
        transform: skewX(30deg) translate(0rem) rotate(-25deg) ;
    }
    100%{
        -webkit-transform: skewX(0deg) translate(0rem) rotate(-12deg) ;
        -moz-transform: skewX(0deg) translate(0rem) rotate(-12deg) ;
        -ms-transform: skewX(0deg) translate(0rem) rotate(-12deg) ;
        -o-transform: skewX(0deg) translate(0rem) rotate(-12deg) ;
        transform: skewX(0deg) translate(0rem) rotate(-12deg) ;
    }
}
#page5 p:nth-child(4){
    -webkit-animation:bounceInLeft 1s 1.9s both;
    animation:bounceInLeft 1s 1.9s both;
}
#page5 p:nth-child(5){
    -webkit-animation:bounceInRight 1s 2.2s both;
    animation:bounceInRight 1s 2.2s both;
}
#page5 p:nth-child(6){
    -webkit-animation:bounceInLeft 1s 2.7s both;
    animation:bounceInLeft 1s 2.7s both;
}
#page5 p:nth-child(7){
    -webkit-animation:bounceIn 2s 3.1s both;
    animation:bounceIn 2s 3.1s both;
}
#page5 img:nth-child(8){
    -webkit-animation:UptMove 1s 0.2s linear infinite both;
    animation:UptMove 1s 0.2s linear infinite both;
}
@-webkit-keyframes UptMove {
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(7px);
    }
    50%{
        transform: translateY(14px);
    }
    75%{
        transform: translateY(7px);
    }
    100%{
        transform: translateY(0%);
    }
}
#page6 img{
    opacity: 1;
}
#page6 img:nth-child(1){
    -webkit-animation:bounceInLeft 1s 0s both;
    animation:bounceInLeft 1s 0s both;
}
#page6 img:nth-child(2){
    -webkit-animation:bounceInRight 1s .4s both;
    animation:bounceInRight 1s .4s both;
}

#page6 p:nth-child(4){
    -webkit-animation:bounceInUp 1s .8s both;
    animation:bounceInUp 1s .8s both;
}
#page6 img:nth-child(5){
    -webkit-animation:UptMove 1s .2s linear infinite both;
    animation:UptMove 1s .2s linear infinite both;
}
@-webkit-keyframes UptMove {
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(7px);
    }
    50%{
        transform: translateY(14px);
    }
    75%{
        transform: translateY(7px);
    }
    100%{
        transform: translateY(0%);
    }
}
#page7 img{
    opacity: 1;
}
#page7 img:nth-child(1){
    -webkit-animation:bounceInLeft 1s 0s both;
    animation:bounceInLeft 1s 0s both;
}
#page7 img:nth-child(2){
    -webkit-animation:bounceInLeft 1s .4s both;
    animation:bounceInLeft 1s .4s both;
}
#page7 p:nth-child(3){
    -webkit-animation:bounceIn 1.2s 1.2s both;
    animation:bounceIn 1.2s 1.2s both;
}
#page7 img:nth-child(4){
    -webkit-animation:UptMove 1s .2s linear infinite both;
    animation:UptMove 1s .2s linear infinite both;
}
@-webkit-keyframes UptMove {
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(7px);
    }
    50%{
        transform: translateY(14px);
    }
    75%{
        transform: translateY(7px);
    }
    100%{
        transform: translateY(0%);
    }
}
.music{
    width: 0.6rem;
    height: 0.6rem;
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    background: url(../audio/music.svg) no-repeat;
    background-size: 100% 100%;
    z-index: 111;
    opacity: 0;
}
.musicCur{
    opacity: 1;
    -webkit-animation:move 1s infinite linear both;
    animation:move 1s infinite linear both;
}
@-webkit-keyframes move {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes move {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
